<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    {% block links %}
    {% endblock %}
    <link rel="icon" href="{% static 'img/logo.png' %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>

<header>
    <div class="container">
        <div class="header">
            <div class="logo">
                <a href="{% url 'main:index' %}"><img src="{% static 'img/logo.png' %}" alt="logo"></a>
            </div>
            <div class="nav_bar">
                <div class="nav_title">
                    <h2>Федерация</h2>
                </div>
                <nav>
                    <div class="nav_link">
                        <a href="{% url 'news:news_list' %}">Новости</a>
                    </div>
                    <div class="nav_link">
                        <a href="#">Федерация</a>
                        <div class="accordion">
                            <a href="{% url 'main:goals' %}">Цели и задачи</a>
                            <a href="{% url 'main:leadership' %}">Руководство</a>
                            <a href="#">Документы</a>
                            <a href="#">Протоколы</a>
                            <a href="#">Сборная</a>
                        </div>
                    </div>
                    <div class="nav_link">
                        <a href="#">Турниры</a>
                        <div class="accordion">
                            <a href="{% url 'main:calendar' %}">Календарь</a>
                            <a href="#">Регламенты</a>
                            <a href="{% url 'tournaments:tournaments_list' %}">Отчеты</a>
                            <a href="{% url 'rating:rating' %}">Рейтинг и статистика</a>
                            <a href="#">Студенческие турниры</a>
                            <a href="#">Любительские и детские</a>
                        </div>
                    </div>
                    <div class="nav_link">
                        <a href="#">О боулинге</a>
                    </div>
                    <div class="nav_link">
                        <a href="#">Контакты</a>
                    </div>
                </nav>
            </div>
            <div class="burger">
                <span></span>
            </div>
        </div>
    </div>
</header>

{% block content %}
{% endblock %}

<footer>
    <div class="container">
        <div class="footer_logo">
            <img src="{% static 'img/logo.png' %}" alt="">
        </div>
    </div>
</footer>

{% block scripts %}
{% endblock %}
<script src="{% static 'js/main.js' %}"></script>
</body>
</html>