
/* current news
______________________ */

.news_section {
    display: flex;
    flex-grow: 1;
    position: relative;
    z-index: 1;
}

.news_section h2 {
    color: white;
    margin: 50px 0 30px;
    font-size: 30px;
}

.description {
    color: white;
    font-size: 18px;
    margin-bottom: 30px;
}

.description p {
    margin-bottom: 10px;
    line-height: 1.5;
    text-align: justify;
}

.photos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 30px;
    overflow: hidden;
}

.photo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    color: #ececec;
}

.photos img {
    box-shadow: 0 0 25px 2px rgba(34,60,80,.8);
    margin-bottom: 10px;
}

.photos img:last-child {
    margin-right: 0;
}

.document {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.document img {
    margin-right: 10px;
}

.document a {
    text-decoration: none;
    color: #0093E9;
    font-size: 25px;
}

.document a:hover {
    transition: color 0.3s ease;
    color: #f64b39;
}

/* media query
 _________________________*/

@media (max-width: 990px) {
    .news_link {
        width: 95%;
    }

    .news_section h2, .description, .photos, .document {
        margin: 0 20px;
    }

    .document {
        margin-bottom: 20px;
    }
}

@media (max-width: 900px) {
    .news_section h2 {
        margin-bottom: 20px;
    }
}

@media (max-width: 500px) {
    .description p {
        line-height: 1.3;
    }

    .photos {
        flex-direction: column;
    }

    .description {
        font-size: 13px;
    }
}