
/* news_list_section
 ________________________*/

.news_list_section {
    padding: 40px;
    flex-grow: 1;
    position: relative;
    z-index: 1;
}

.news_title {
    color: white;
    font-size: 45px;
    margin-bottom: 30px;
}

.news_cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    padding-bottom: 20px;
}

.news_link {
    display: block;
    text-decoration: none;
    width: 70%;
}

.news_card {
    position: relative;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease;
    color: white;
    margin-bottom: 40px;
}

.news_card:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    opacity: 0.4;
    z-index: 2;
    transition: opacity 0.3s ease;
}

.news_card:hover {
    transform: scale(1.05);
}

.news_card:hover:after {
    opacity: 0.7;

}

.news_head {
    position: relative;
    z-index: 3;
    display: flex;
}

.news_date {
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: linear-gradient(to right top, #e02727, #9538fa);
}

.news_head h2 {
    position: relative;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e02727;
    margin: 0 40px;
}

.news_content {
    position: relative;
    z-index: 3;
    padding: 20px;
    text-align: justify;
    line-height: 1.5;
}

.pagination {
    display: flex;
    justify-content: center;
}

.pagination a {
    display: block;
    font-size: 20px;
    padding: 5px 10px;
    text-decoration: none;
    color: white;
    margin: 0 3px;
}

.pagination .active {
    display: block;
    text-decoration: none;
    border: none;
    color: white;
    margin: 0 3px;
    background: linear-gradient(to right, rgba(255, 75, 56, 0.8), rgba(224, 39, 113, 0.8));
}

/* media query
 _________________________*/

@media (max-width: 900px) {
    .news_link {
        width: 100%;
    }

    .news_head h2 {
        font-size: 15px;
    }

    .news_content p {
        font-size: 13px;
    }
}
