.section_results {
    flex-grow: 1;
    padding: 40px 10px;
    position: relative;
    z-index: 1;
}

.section_results h1 {
    color: white;
    font-size: 45px;
    margin-bottom: 40px;
}

.date {
    color: #fff;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.document {
    display: flex;
    align-items: center;
}

.document img {
    margin-right: 10px;
}

.document a {
    text-decoration: none;
    color: #0093E9;
    font-size: 25px;
}

.document a:hover {
    transition: color 0.3s ease;
    color: #f64b39;
}
