.section_results {
    flex-grow: 1;
    padding: 40px 10px;
    position: relative;
    z-index: 1;
}

.section_results h1 {
    color: white;
    font-size: 45px;
    margin-bottom: 40px;
}

.table-wrap {
    overflow-x:auto;
    width: 100%;
    margin-bottom: 30px;
    border: 3px solid #003096;
}

.table-wrap table {
    width: 100%;
    border-collapse: collapse;
}

.table-wrap thead {
    color: white;
    background-color: #334065;
}

.table-wrap th {
    padding: 12px 7px;
    white-space: nowrap;
}

.table-wrap tbody tr {
    background-color: #fafafa;
    white-space: nowrap;
}

.table-wrap tbody tr:nth-child(2n) {
    background-color: #D5E4F3;
}

.table-wrap td {
    border-bottom: solid 1px #ececec;
    border-right: solid 1px #ececec;
    text-align: center;
    padding: 7px 7px;
}

.date {
    color: #fff;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.table-wrap a {
    text-decoration: none;
    color: #0093E9;
}

.table-wrap a:hover {
    transition: color 0.3s ease;
    color: #f64b39;
}
