* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background-image: url("../img/bg4.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100%;
}

@font-face {
    font-family: title;
    src: url("../fonts/Marck_Script/MarckScript-Regular.ttf");
}

.container {
    max-width: 1170px;
    min-width: 1170px;
    width: 100%;
    margin: 0 auto;
}

/* header
 _____________________*/
header {
    position: relative;
}

.header {
    display: flex;
    position: relative;
    z-index: 3;
    height: 100px;
}

.logo {
    width: 200px;
}

.logo img {
    width: 100px;
    padding-left: 20px;
    margin-top: 10px;
}

.burger {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100px;
}

.burger span {
    position: relative;
    display: block;
    width: 40px;
    height: 2px;
    background-color: white;
}

.burger span:before {
    display: block;
    content: '';
    position: absolute;
    height: 2px;
    width: 40px;
    background-color: white;
    bottom: 9px;
}

.burger span:after {
    display: block;
    content: '';
    position: absolute;
    height: 2px;
    width: 40px;
    background-color: white;
    bottom: -9px;
}

.nav_bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.nav_bar h2 {
    color: #f64b39;
    padding: 10px 0;
}

.nav_title {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    vertical-align: top;
    border: none;
}

.nav_title h2 {
    position: relative;
}

.nav_title:before {
    background-color: #f64b39;
    position: absolute;
    top: 50%;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
    height: 2px;
    content: "";
    overflow: hidden;
    display: block;
    width: 200px;
}

.nav_title:after {
    background-color: #f64b39;
    position: absolute;
    top: 50%;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
    height: 2px;
    content: "";
    overflow: hidden;
    display: block;
    width: 200px;
}

nav {
    display: flex;
    height: 100%;
}

.nav_link {
    position: relative;
    height: 100%;
}

.nav_link a {
    position: relative;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0 40px;
    font-size: 18px;
    height: 100%;
    color: white;
    transition: color 0.3s ease;
    font-weight: bold;
}

.nav_link a:before {
    position: absolute;
    content: '';
    height: 2px;
    width: 0;
    top: 0;
    left: 50%;
    background: linear-gradient(to right, #e02727, #9538fa);
    transform: translateX(-50%);
    transition: width 0.3s ease;
}

.nav_link a:after {
    position: absolute;
    content: '';
    height: 2px;
    width: 0;
    bottom: 0;
    left: 50%;
    background: linear-gradient(to right, #e02727, #9538fa);
    transform: translateX(-50%);
    transition: width 0.3s ease;
}

.nav_link a:hover {
    color: #f64b39;
    transition: color 0.3s ease;
}

.nav_link a:hover:before, .nav_link a:hover:after {
    transition: width 0.3s ease;
    width: 100%;
}

.accordion {
    position: absolute;
    display: none;
    width: 100%;
    top: 52px;
    background-color: rgba(0, 0, 0, 1);
}

.accordion > a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 15px 0;
    text-align: center;
    z-index: 4;
}

/* tournament_list_section
 ________________________*/

.tournament_list_section {
    padding: 20px;
    flex-grow: 1;
}

.tournament_title {
    color: white;
    font-size: 45px;
    margin-bottom: 30px;
}

.tournament_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.tournament_link {
    width: 30%;
    min-width: 350px;
    height: 350px;
    margin-bottom: 40px;
}

.tournament_card {
    position: relative;
    background: rgba(26, 48, 104, 0.7);
    z-index: -2;
}

.tournament_date {
    position: absolute;
    color: white;
    top: 20px;
    padding: 5px 15px;
    background: linear-gradient(to right, rgba(0, 147, 233, 0.1), rgba(0, 147, 233, 0.8));
}

.tournament_img {
    width: 100%;
    height: 350px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    z-index: -1;
}

.photo {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
}

.no_photo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1.5);
}

.tournament_description {
    position: absolute;
    color: white;
    text-align: center;
    line-height: 1.4;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px 15px;
    background: linear-gradient(to right, rgba(0, 147, 233, 0.1), rgba(0, 147, 233, 0.8));
}

.pagination {
    display: flex;
    justify-content: center;
}

.pagination a {
    display: block;
    font-size: 20px;
    padding: 5px 10px;
    text-decoration: none;
    color: white;
    margin: 0 3px;
}

.pagination .active {
    display: block;
    text-decoration: none;
    border: none;
    color: white;
    margin: 0 3px;
    background: linear-gradient(to right, rgba(0, 147, 233, 0.3), rgba(0, 147, 233, 0.8));
}

/*  footer
 _________________________*/

footer {
    background: rgba(26, 48, 104, 0.7);
}

.footer_logo {
    display: flex;
    justify-content: center;
    padding: 10px;
}

/* media query
 _________________________*/

@media (max-width: 990px) {
    nav {
        position: absolute;
        display: none;
        flex-direction: column;
        right: 0;
        top: 70px;
        background-color: rgba(0, 0, 0, 1);
        height: unset;
    }

    .container {
        min-width: auto;
    }

    .nav_link {
        width: 225px;
    }

    .nav_link a {
        display: block;
        width: 100%;
        text-align: center;
        padding: 20px 0;
    }

    .accordion {
        top: 0;
        left: -225px;
    }

    .main {
        height: 450px;
    }

    .burger {
        display: flex;
    }

}

@media (max-width: 900px) {
    .nav_title:after, .nav_title:before {
        width: 100px;

    }

    .news_section h2 {
        margin-bottom: 20px;
    }

    .nav_title:after {
        transform: translateX(-120px);
    }

    .nav_title:before {
        transform: translateX(120px);
    }
}

@media (max-width: 500px) {
    .photos {
        flex-direction: column;
    }

    .description {
        font-size: 13px;
    }

    .nav_title:after, .nav_title:before {
        width: 50px;

    }

    .nav_title:after {
        transform: translateX(-95px);
    }

    .nav_title:before {
        transform: translateX(95px);
    }
}