{% extends 'layouts/basic.html' %}
{% load static %}
{% block links %}
    <link rel="stylesheet" href="{% static 'css/current_news_4.css' %}">
{% endblock %}
{% block title %}{{ news.name }}{% endblock %}

{% block content %}
    <section class="news_section">
        <div class="container">
            <h2>{{ news.name }}</h2>
            <div class="description">{{ news.description|safe }}</div>
            {% if news.news_img.all %}
                <div class="photos">
                    {% for img in news.news_img.all %}
                        <div class="photo">
                            <img src="{{ img.img.url }}" width="{{ img.width }}" height="{{ img.height }}" alt="">
                            {% if img.name %}
                                <p>{{ img.name }}</p>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            {% if news.news_document.all %}
                {% for document in news.news_document.all %}
                    <div class="document">
                        <img src="{% static 'img/pdf_icon.png' %}" alt="">
                        <a href="{{ document.file.url }}" target="_blank">{{ document.name }}</a>
                    </div>
                {% endfor %}
            {% endif %}
            {% if news.tournament_results %}
                <div class="document">
                    <img src="{% static 'img/pdf_icon.png' %}" alt="">
                    <a href="{{ news.tournament_results.file.url }}"
                       target="_blank">{{ news.tournament_results.name }}</a>
                </div>
            {% endif %}
            {% if news.regulations %}
                <div class="document">
                    <img src="{% static 'img/pdf_icon.png' %}" alt="">
                    <a href="{{ news.regulations.file.url }}"
                       target="_blank">Регламент</a>
                </div>
            {% endif %}
        </div>
    </section>
{% endblock %}



