{% extends 'layouts/basic.html' %}
{% load static %}
{% block links %}
    <link rel="stylesheet" href="{% static 'css/current_tournament.css' %}">
{% endblock %}
{% block title %}{{ tournament.name }}{% endblock %}

{% block content %}
    <section class="tournament_section">
        <div class="container">
            <h2>{{ tournament.name }}</h2>
            <div class="description">{{ tournament.description|safe }}</div>
            {% if tournament.tournament_img.all %}
                <div class="photos">
                    {% for img in tournament.tournament_img.all %}
                        <img src="{{ img.img.url }}" width="{{ img.width }}" height="{{ img.height }}" alt="">
                    {% endfor %}
                </div>
            {% endif %}
            {% if tournament.tournament_document.all %}
                {% for document in tournament.tournament_document.all %}
                    <div class="document">
                        <img src="{% static 'img/pdf_icon.png' %}" alt="">
                        <a href="{{ document.file.url }}" target="_blank">{{ document.name }}</a>
                    </div>
                {% endfor %}
            {% endif %}
            {% if tournament.regulation %}
                <div class="document">
                    <img src="{% static 'img/pdf_icon.png' %}" alt="">
                    <a href="{{ tournament.regulation.file.url }}" target="_blank">{{ tournament.regulation.name }}</a>
                </div>
            {% endif %}
            {% if tournament.tournament_results %}
                <div class="document">
                    <img src="{% static 'img/pdf_icon.png' %}" alt="">
                    <a href="{{ tournament.tournament_results.file.url }}" target="_blank">{{ tournament.tournament_results.name }}</a>
                </div>
            {% endif %}
        </div>
    </section>
{% endblock %}