{% extends 'layouts/basic.html' %}
{% load static %}
{% block links %}
    <link rel="stylesheet" href="{% static 'css/goals.css' %}">
{% endblock %}
{% block title %}{% endblock %}

{% block content %}
    <section class="goals_section">
        <div class="container">
            <h1>Цели и задачи</h1>
            <p>Федерация ведет свою деятельность с 1998 года. В числе основных задач:</p>
            <ul>
                <li>Развитие, пропаганда и популяризация боулинга в Санкт-Петербурге.</li>
                <li>Повышение мастерства спортсменов: 15 Мастеров Спорта по боулингу среди спортсменов федерации</li>
                <li>Проводение регулярных официальные турниров для спортсменов Петербурга</li>
                <li>Организация и проведение соревнований различного уровня (спортивные, любительские, корпоративные)</li>
                <li>Создание базы для организации секций и школ боулинга</li>
            </ul>
        </div>
    </section>
{% endblock %}