{% extends 'layouts/basic.html' %}
{% load static %}
{% block links %}
    <link rel="stylesheet" href="{% static 'css/news_list.css' %}">
{% endblock %}
{% block title %}Новости{% endblock %}

{% block content %}
    <section class="news_list_section">
        <div class="container">
            <div class="news_title">Новости и события</div>
            <div class="news_cards">
                {% for post in news %}
                    <a href="{% url 'news:current_news' pk=post.pk %}" class="news_link">
                        <div class="news_card">
                            <div class="news_head">
                                <div class="news_date">
                                    <p>{{ post.date|date:'j' }}</p>
                                    <p>{{ post.date|date:'E' }}</p>
                                </div>
                                <h2>{{ post.name }}</h2>
                            </div>
                            <div class="news_content">
                                <p>{{ post.short_description }}</p>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
            <div class="pagination">
                {% if previous_page_number %}
                    <a href="{% url 'news:news_list' %}?page={{ previous_page_number }}">Назад</a>
                {% endif %}
                {% if previous2 in page_range %}
                    <a href="{% url 'news:news_list' %}?page={{ previous2 }}">{{ previous2 }}</a>
                {% endif %}
                {% if previous_page_number %}
                    <a href="{% url 'news:news_list' %}?page={{ previous_page_number }}">{{ previous_page_number }}</a>
                {% endif %}
                <a class="active" href="#">{{ page }}</a>
                {% if next_page_number %}
                    <a href="{% url 'news:news_list' %}?page={{ next_page_number }}">{{ next_page_number }}</a>
                {% endif %}
                {% if next2 in page_range %}
                    <a href="{% url 'news:news_list' %}?page={{ next2 }}">{{ next2 }}</a>
                {% endif %}
                {% if next_page_number %}
                    <a href="{% url 'news:news_list' %}?page={{ next_page_number }}">Вперед</a>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}

