{% extends 'layouts/basic.html' %}
{% load static %}
{% block links %}
    <link rel="stylesheet" href="{% static 'css/payment.css' %}">
{% endblock %}
{% block title %}Оплата{% endblock %}


{% block content %}
    <section class="payment_section">
        <div class="container">
            <h2>Оплата членских взносов и игровых лицензий</h2>
            <p>Самый простой способ это воспользоватся мобильным приложением вашего банка:</p>
            <p>1) Открыть мобильное приложение банка (Сбер, Райфазен, ВТБ, т.д) на вашем телефоне</p>
            <p>2) Выбрать Платежи или Переводы</p>
            <p>3) Выбрать Оплата по QR коду (или Сканировать QR код). В некоторых клиентах значек "QR код" может быть на
                первой странице</p>
            <p>4) Навести камеру телефона на нужный код (смотри ниже)</p>
            <p>5) Добавить Фамилию, Имя и Отчество (ваше или того за кого осуществляется платеж) в поле Назначение
                платежа. например "Членский взнос за 2022 год от Иванова Ивана Ивановича"</p>
            <p>6) Подтвердить перевод\платеж</p>
            <div class="qr_codes">
                <div class="qr_item">
                    <img src="{% static 'documents/qr1_2022.png' %}" alt="">
                    <p>Членский взнос (750 руб)</p>
                </div>
                <div class="qr_item">
                    <img src="{% static 'documents/qr2_2022.png' %}" alt="">
                    <p>Игровая лицензия (2250 руб)</p>
                </div>
                <div class="qr_item">
                    <img src="{% static 'documents/qr3_2022.png' %}" alt="">
                    <p>Членский и Игровая (3000 руб)</p>
                </div>
            </div>
            <p>Второй способ оплатыэто печать платежки и визит любого банка (Сберкассы) или банкомата (некоторые умеют
                считывать QR код). Не забудьте добавить Фамилию, Имя и Отчество (ваше или того за кого осуществляется
                платеж) в поле Назначение платежа. например "Членский взнос за 2022 год от Иванова Ивана
                Ивановича".</p>
            <h3>Примечания:</h3>
            <p>- Оплата членства и игровой лицензии не означает автоматическое их получение. Небходимо заполнить
                заявление на вступление в члены и\или получение игровой лицензии которые будут рассмотрены на
                президиуме. Бланки заявлений можно получить на любом из турниров</p>
            <p>- С 1 февраля вступают в силу изменения в правилах предоставления игрового тарифа в боулинг клубе Русское
                Поле по которым требуется обладать игровой лицензией федерации, соответственно необходимо уплатить
                целевой взнос до 1 февраля для оформления клубной карточки</p>
            <div class="document">
                <img src="{% static 'img/pdf_icon.png' %}" alt="">
                <a href="{% static 'documents/chlenskiy.pdf' %}" target="_blank">Платежка Членский Взнос (750 руб)</a>
            </div>
            <div class="document">
                <img src="{% static 'img/pdf_icon.png' %}" alt="">
                <a href="{% static 'documents/igrovaya.pdf' %}" target="_blank">Платежка Игровая Лицензия (2250 руб)</a>
            </div>
            <div class="document">
                <img src="{% static 'img/pdf_icon.png' %}" alt="">
                <a href="{% static 'documents/chlenskiy_i_igrovaya.pdf' %}" target="_blank">Платежка Членский и Игровая (3000 руб)</a>
            </div>
        </div>
    </section>
{% endblock %}
