{% extends 'layouts/basic.html' %}
{% load static %}
{% block links %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}
{% block title %}{{ player }}{% endblock %}

{% block content %}
    <section class="section_rating">
        <div class="container">
            <div class="rating_title">{{ player }}</div>
            <div class="rating_by_years">
                <div class="years">
                    <div class="years_list">
                        {% for year in years %}
                            <h3 class="year" data-year="{{ year.year }}">{{ year.year }}</h3>
                            <div class="arrow-8"></div>
                        {% endfor %}
                    </div>
                    {% for year in years %}
                        {% if year.statistic %}
                            <div data-year="{{ year.year }}" class="rating">
                                <div class="statistic">
                                    <h4>Статистика</h4>
                                    <table>
                                        <thead>
                                        <tr style="background-color: #009688;">
                                            <th>Спортсмен</th>
                                            <th>Разряд</th>
                                            <th>Минимальная игра</th>
                                            <th>Максимальная игра</th>
                                            <th>Средний</th>
                                            <th>Количество Игр</th>
                                            <th>Сумма</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>
                                                <a href="{% url 'main:profile' pk=year.statistic.name.pk %}">{{ year.statistic.name }}</a>
                                            </td>
                                            <td>{% if year.statistic.name.rang != 'nan' %}
                                                {{ year.statistic.name.rang }}{% endif %}</td>
                                            <td>{{ year.statistic.min }}</td>
                                            <td>{{ year.statistic.max }}</td>
                                            <td>{{ year.statistic.mean }}</td>
                                            <td>{{ year.statistic.score }}</td>
                                            <td>{{ year.statistic.summ }}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                {% if year.tournaments %}
                                    {% for tournament in year.tournaments %}
                                        <div class="tournament_result">
                                            <h4>{{ tournament.name }}</h4>
                                            <table>
                                                <thead>
                                                <tr style="background-color: #009688;">
                                                    <th colspan="2"></th>
                                                    <th colspan="{{ tournament.results.results.qualification|length }}">
                                                        Квалификация
                                                    </th>
                                                    {% if tournament.results.results.finals %}
                                                        <th style="background-color: #1b897f;"
                                                            colspan="{{ tournament.results.results.finals|length }}">
                                                            Финал
                                                        </th>
                                                        <th style="background-color: #1b897f;" colspan="2"></th>
                                                    {% else %}
                                                        <th colspan="2"></th>
                                                    {% endif %}
                                                </tr>
                                                <tr style="background-color: #009688;">
                                                    <th>Место</th>
                                                    <th>Спортсмен</th>
                                                    {% for _ in tournament.results.results.qualification %}
                                                        <th>{{ forloop.counter }} игра</th>
                                                    {% endfor %}
                                                    {% if tournament.results.results.finals %}
                                                        {% for _ in tournament.results.results.finals %}
                                                            <th style="background-color: #1b897f;">{{ forloop.counter }}
                                                                игра
                                                            </th>
                                                        {% endfor %}
                                                        <th style="background-color: #1b897f;">Средний</th>
                                                        <th style="background-color: #1b897f;">Сумма</th>
                                                    {% else %}
                                                        <th>Средний</th>
                                                        <th>Сумма</th>
                                                    {% endif %}

                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td>{{ tournament.results.results.place }}</td>
                                                    <td>
                                                        <a href="{% url 'main:profile' pk=tournament.results.id %}">{{ tournament.results.name }}</a>
                                                    </td>
                                                    {% for result in tournament.results.results.qualification %}
                                                        <td>{{ result }}</td>
                                                    {% endfor %}
                                                    {% if tournament.results.results.finals %}
                                                        {% for result in tournament.results.results.finals %}
                                                            <td style="background-color: #dbedf4;">{{ result }}</td>
                                                        {% endfor %}
                                                        <td style="background-color: #dbedf4;">{{ tournament.results.mean }}</td>
                                                        <td style="background-color: #dbedf4;">{{ tournament.results.summ }}</td>
                                                    {% else %}
                                                        <td>{{ tournament.results.mean }}</td>
                                                        <td>{{ tournament.results.summ }}</td>
                                                    {% endif %}

                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}