{% extends 'layouts/basic.html' %}
{% load static %}
{% block links %}
    <link rel="stylesheet" href="{% static 'css/statistics_2.css' %}">
{% endblock %}
{% block title %}Рейтинг{% endblock %}

{% block content %}
    <section class="section_rating">
        <div class="container">
            <div class="rating_title">Рейтинг</div>
            <div class="rating_description">Рейтинг ведется на основе рейтинговых турниров проводимых федерацией
                согласно
                общим положениям. Результаты рейтинга используются для формирования сборной команды Санкт-Петербурга на
                следующий календарный год
            </div>
            <div class="rating_by_years">
                <div class="years">
                    <div class="years_list">
                        {% for year in years %}
                            <h3 class="year" data-year="{{ year.year }}">{{ year.year }}</h3>
                            <div class="arrow-8"></div>
                        {% endfor %}
                    </div>
                    {% for year in years %}
                        <div data-year="{{ year.year }}" class="rating">
                            <div class="rating_button">
                                {% if year.rating %}
                                    <a href="{{ year.rating.url }}" target="_blank">Весь рейтинг PDF</a>
                                {% endif %}
                            </div>
                            <h4>Мужчины</h4>
                            <div class="tournament_result">
                                <table>
                                    {% for row in year.man_rating %}
                                        {% if forloop.first %}
                                            <thead>
                                            <tr style="background-color: #009688;">
                                                {% for item in row %}
                                                    <th style="white-space: unset">{{ item }}</th>
                                                {% endfor %}
                                            </tr>
                                            </thead>
                                        {% else %}
                                            <tr>
                                                {% for item in row %}
                                                    <td>{{ item }}</td>
                                                {% endfor %}
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                </table>
                            </div>

                            <h4>Женщины</h4>
                            <div class="tournament_result">
                                <table>
                                    {% for row in year.woman_rating %}
                                        {% if forloop.first %}
                                            <thead>
                                            <tr style="background-color: #009688;">
                                                {% for item in row %}
                                                    <th style="white-space: unset">{{ item }}</th>
                                                {% endfor %}
                                            </tr>
                                            </thead>
                                        {% else %}
                                            <tr>
                                                {% for item in row %}
                                                    <td>{{ item }}</td>
                                                {% endfor %}
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
