{% extends 'layouts/basic.html' %}
{% load static %}
{% block links %}
    <link rel="stylesheet" href="{% static 'css/students_tournament.css' %}">
{% endblock %}
{% block title %}Студенчиские Турниры{% endblock %}

{% block content %}
    <section class="students_tournament_section">
        <div class="container">
            <h1>Студенческие турниры</h1>
            <h2>Турниры для студентов СПБ</h2>
            <h3>Парный турнир по воскресеньям в Русском Поле</h3>
            <p>Студенческий турнир по боулингу проводится на любительском уровне среди учащихся ВУЗОВ\СУЗОВ
                Санкт-Петербурга. Спортсмены федерации боулинга к участию в данном турнире не допускаются.</p>
            <p>Целью турнира является популяризация спортивного боулинга среди молодежи. Перед началом каждого турнира
                проводится мастер-класс (обучение) от спортсменов федерации</p>
            <p>Место проведения: БЦ «Русское Поле», ул. Шереметьевская д.15, литера А, ТРК «Пулково 3», 2 этаж.</p>
            <p>Участники: Команда из 2х человек из учащихся ВУЗОВ\СУЗОВ Санкт-Петербурга принимающих данные положения и
                оплативших участие в турнире.</p>
            <p>Стоимость участия в турнире (целевой взнос): 400 руб.</p>
            <p>Регистрация для участия в турнире через группу <a href="#">ВКонтакте Студенческие Турниры</a></p>
            <p>Подробности и запись у Анастасии Федоровой (+79213168820) или Алексея Андрианова (+79119121177)</p>
            <p>Формат турнира: Турнир состоит из отборочных игр и финальной части. В отборочных играх каждый игрок
                команды играет 2 игры. Результат команды складывается из суммы очков набранных в 4х играх (2+2). За
                девушку участницу, команде начисляется дополнительный гандикап к игре +6 очка. В финальную часть
                проходят 8 команд набравших большее число очков (при равенстве очков проходит команда показавшая лучшую
                игру любым из участников). Финальная часть играется по кубковой системе - проигравшая команда вылетает.
                Финалы играются по системе беккер - игроки одной команды выполняют броски по очереди (каждый игрок
                играет 5 фреймов в партии). Финальные пары формируются по результатам отборочных игр по принципу
                лучший-худший::1-8, 2-7, 3-6, 4-5. Далее играются полуфинал, финал и игра за 3-4 место.</p>
            <p>Определение победителей: Победители и призеры - команды занявшие 1, 2 и 3 места по результатам финальных
                игр. Победители награждаются призами.</p>
            <p><b>Внимание! Перед началом турнира (16:00 – 16:30) будет проводится мастер класс по игре в боулинг от
                спортсменов Федерации Боулинга СПб.</b></p>
            <p>Организаторы оставляют за собой право отказать в участии любой команде, представитель которой, пришел на
                турнир в нетрезвом состоянии, нарушает ход игры, мешает играть остальным участникам турнира, нецензурно
                высказывается по отношению к организаторам и другим участникам турнира.</p>
            <p><b>Регламент:</b></p>
            <p>15:30 - 16:00 – регистрация команд, мастер-класс по игре в боулинг</p>
            <p>16:00 - 17:00 – 2 игры в зачет отборочных игр.</p>
            <p>17:00 - 19:00 – финальные игры. награждение победителей</p>
            <img src="{% static 'img/students.png' %}" alt="">
        </div>
    </section>
{% endblock %}