{% extends 'layouts/basic.html' %}
{% load static %}
{% block links %}
    <link rel="stylesheet" href="{% static 'css/tournament_list.css' %}">
{% endblock %}
{% block title %}Отчеты по турнирам{% endblock %}

{% block content %}
    <section class="tournament_list_section">
        <div class="container">
            <div class="tournament_title">Прошедише турниры</div>
            <div class="tournament_list">
                {% for post in tournaments %}
                    <a class="tournament_link" href="{% url 'tournaments:current_tournament' pk=post.pk %}">
                        <div class="tournament_card">
                            <div class="tournament_date">{{ post.date|date:'d.m.Y' }}</div>
                            {% if post.background_img %}
                                <div class="tournament_img">
                                    <img class="photo" src="{{ post.background_img.url }}" alt="">
                                </div>
                            {% else %}
                                <div class="tournament_img">
                                    <img class="no_photo" src="{% static 'img/logo.png' %}" alt="">
                                </div>
                            {% endif %}
                            <div class="tournament_description">{{ post.name }}</div>
                        </div>
                    </a>
                {% endfor %}
            </div>
            <div class="pagination">
                {% if previous_page_number %}
                    <a href="{% url 'tournaments:tournaments_list' %}?page={{ previous_page_number }}">Назад</a>
                {% endif %}
                {% if previous2 in page_range %}
                    <a href="{% url 'tournaments:tournaments_list' %}?page={{ previous2 }}">{{ previous2 }}</a>
                {% endif %}
                {% if previous_page_number %}
                    <a href="{% url 'tournaments:tournaments_list' %}?page={{ previous_page_number }}">{{ previous_page_number }}</a>
                {% endif %}
                <a class="active" href="#">{{ page }}</a>
                {% if next_page_number %}
                    <a href="{% url 'tournaments:tournaments_list' %}?page={{ next_page_number }}">{{ next_page_number }}</a>
                {% endif %}
                {% if next2 in page_range %}
                    <a href="{% url 'tournaments:tournaments_list' %}?page={{ next2 }}">{{ next2 }}</a>
                {% endif %}
                {% if next_page_number %}
                    <a href="{% url 'tournaments:tournaments_list' %}?page={{ next_page_number }}">Вперед</a>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}

